﻿@{
    var errorMessage = ViewData["ErrorMessage"];
}

<h3>@errorMessage</h3>
<h6>Ana sayfaya dönmek için aşağıdaki düğmeye tıklayın</h6>
<a asp-action="Index" asp-controller="Store" class="btn btn-primary"></a>